<nav class="shadow fixed left-0 right-0 z-50 bg-[#14b8a6]">
    <div class="max-w-7xl mx-auto px-3 sm:px-4 lg:px-8">
        <div class="flex justify-between items-center h-14 sm:h-16 md:h-18">

            <!-- Logo on the left -->
            <a routerLink="/" class="flex items-center flex-shrink-0">
                <img src="assets/images/logo of marketmandu.png" alt="Logo" class="h-10 sm:h-12 md:h-14 w-auto" />
                <span class="hidden lg:block ml-2 font-bold tracking-tight hover:text-white">
                    <span
                        class="text-lg sm:text-2xl md:text-3xl font-semibold text-[#481B74] hover:text-white transition">
                        MarketMandu
                    </span>
                </span>
            </a>

            <!-- Search Bar  -->
            <div class="flex-1 mx-3 md:mx-4 md:max-w-md lg:max-w-lg">
                <app-searchbar />
            </div>

            <!-- Desktop Links -->
            <div class="hidden md:flex md:items-center md:space-x-2 lg:space-x-4">
                @if (loginState().isLogin && !loginState().isAdmin) {
                <a routerLink="/cart" routerLinkActive="text-white bg-[#481B74]"
                    class="relative text-gray-700 hover:text-white hover:bg-[#481B74] px-3 lg:px-4 py-2 rounded-md text-sm font-medium">
                    <i class="pi pi-shopping-cart  " style="font-size: 1.5rem;"></i>

                    @if (cartState().orderItems.length > 0) {
                    <span
                        class="absolute hidden sm:flex -top-1 -right-1 bg-orange-500 text-white text-xs font-bold rounded-full h-5 w-5  items-center justify-center">
                        {{cartState().orderItems.length}}
                    </span>
                    }
                </a>
                }


                @for (link of getVisibleLinks(); track $index) {
                @if(link.text === 'Logout'){
                <a (click)="logoutFn()" routerLink={{link.to}} routerLinkActive="text-white bg-[#481B74]"
                    class="text-gray-700 hover:text-white hover:bg-[#481B74] px-3 lg:px-4 py-2 rounded-md text-sm font-medium whitespace-nowrap">
                    {{link.text}}
                </a>
                }
                @else {
                @if(link.text !='Cart'){

                <a routerLink={{link.to}} routerLinkActive="text-white bg-[#481B74]"
                    class="text-gray-700 hover:text-white hover:bg-[#481B74] px-3 lg:px-4 py-2 rounded-md text-sm font-medium whitespace-nowrap">
                    {{link.text}}
                </a>
                }
                }
                }
            </div>

            <!-- Mobile menu button with PrimeNG icons -->
            <div class="md:hidden shrink-0">
                <button (click)="toggleMobileMenu()" class="text-gray-700 hover:text-[#481B74] focus:outline-none p-2">
                    @if (!isMobileMenuOpen()) {
                    <i class="pi pi-bars text-2xl"></i>
                    }
                    @if (isMobileMenuOpen()) {
                    <i class="pi pi-times text-2xl"></i>
                    }
                </button>
            </div>

        </div>

        <!-- Mobile menu -->
        @if(isMobileMenuOpen()) {
        <div #mobileMenu class="md:hidden border-t border-teal-600">
            <!-- Mobile Navigation Links -->
            <div class="px-2 py-3 space-y-1 bg-[#14b8a6]">



                @for (link of getVisibleLinks(); track $index) {
                @if(link.text === 'Logout'){
                <a (click)="toggleMobileMenu(); logoutFn()" routerLink={{link.to}}
                    routerLinkActive="text-white bg-[#481B74]"
                    class="text-gray-700 hover:text-white hover:bg-[#481B74] block px-3 py-2 rounded-md text-base font-medium">
                    {{link.text}}
                </a>
                }
                @else {
                <a (click)="toggleMobileMenu()" routerLink={{link.to}} routerLinkActive="text-white bg-[#481B74]"
                    class="text-gray-700 hover:text-white hover:bg-[#481B74] block px-3 py-2 rounded-md text-base font-medium">
                    {{link.text}}
                </a>
                }
                }
            </div>
        </div>
        }

    </div>
</nav>