:host ::ng-deep .p-datatable {
    background-color: (248 250 252 / 0.5) !important;
}

:host ::ng-deep .p-datatable .p-datatable-wrapper {
    background-color: rgb(248 250 252 / 0.5) !important;
}

:host ::ng-deep .p-datatable .p-datatable-thead>tr>th {
    background-color: rgb(248 250 252 / 0.5) !important;
    color: black;
}

:host ::ng-deep .p-datatable .p-datatable-tbody>tr {
    background-color: rgb(248 250 252 / 0.5) !important;
    color: black;
}

:host ::ng-deep .p-datatable .p-datatable-tbody>tr:hover {
    background-color: #FFFFFF99 !important;
}