.custom-breadcrumb {
    background-color: transparent;
    /* inline equivalent */
}

.custom-breadcrumb:hover {
    color: black;
    /* hover effect */
}

::ng-deep .my-breadcrumb .p-menuitem-link:hover {
    color: blue !important;
}