<div class=" h-16 sm:h-18 border-t border-gray-300 bg-[#14b8a6] shadow-lg">
    <div class="container mx-auto px-4 py-1 sm:py-2 ">
        <div routerLink="/"
            class="flex flex-col md:flex-row items-center justify-center  gap-1 sm:gap-3 hover:cursor-pointer ">

            <!-- Logo Section -->
            <div class="flex items-center gap-2  ">
                <div
                    class="w-8 h-8  sm:w-12 sm:h-12 bg-linear-to-br  rounded-lg flex items-center justify-center shadow-md">
                    <img src="assets/images/logo of marketmandu.png" alt="Logo" class="w-full h-full " />
                </div>
                <span class="font-semibold text-gray-800 text-lg hover:text-gray-300">MarketMandu</span>
            </div>

            <!-- Copyright Text -->
            <div class="text-gray-700 ml:0 sm:ml-80 text-sm md:text-base">
                <span>&copy; {{ currentYear() }} MarketMandu. All rights reserved.</span>
            </div>



        </div>
    </div>
</div>