<div class="grid grid-cols-2 lg:grid-cols-4 gap-4 md:gap-6 mb-8">

    @for (item of banner(); track $index) {

    <div
        class="bg-[#14b8a6]/10 rounded-xl shadow-md px-2 py-4 sm:py-4 sm:px-6 border-2 border-[#14b8a6] hover:cursor-pointer hover:shadow-lg transition-shadow">
        <div class="flex items-center gap-4 sm:gap-4">
            <div class="bg-blue-100  rounded-lg">
                <i style="font-size: 1.5rem" [class]="item.icon + ' text-blue-600 text-3xl'"></i>
            </div>
            <div>
                <p class="text-gray-600 text-sm sm:text-xl font-semibold">{{item.title}}</p>
                @if (item.pipe=='currency') {

                <p class="text-xl sm:text-2xl font-bold text-gray-800">{{ item.value | currency:'NPR ':'symbol' }}
                </p>
                }@else {

                <p class="text-xl sm:text-2xl font-bold text-gray-800">{{ item.value }}</p>
                }
            </div>
        </div>
    </div>
    }


</div>