<div class="mt-14 sm:mt-18 bg-gray-50  flex flex-col  w-full   ">

  <div class="w-full flex justify-center">
    <div class="chart-card" class="flex justify-center   w-full md:w-4/5">
      <app-carousel />
    </div>
  </div>



  <div class="flex justify-baseline sm:justify-center overflow-hidden">
    <div animate.enter="fade-in-element" class="w-full items-center sm:items-start flex flex-col md:w-4/5">
      <!-- Section title -->
      <h2 class="text-2xl font-bold text-[#14b8a6] capitalize mb-4">
        Just for you
      </h2>

      <!-- Product items grid -->
      <div class="w-full  grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-3 sm:gap-x-2 sm:gap-y-4 mb-6">
        @for (item of products(); track $index) {
        <div [routerLink]="['/product', item.id, item.name]">
          <app-producet-item [ProductItem]="item"></app-producet-item>
        </div>
        }

      </div>

      <!-- Paginator - -->
      <div class="w-full z-50 py-4 px-4  flex justify-center">
        <span class="border-2 border-[#1DB1A1] rounded-xl">

          <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="totalRecords()" [rowsPerPageOptions]="[5, 10, 15]" styleClass="!bg-transparent " [appendTo]="'self'">

          </p-paginator>
        </span>


      </div>

    </div>
  </div>





</div>