<div class="mt-14 sm:mt-18   flex flex-col  w-full   ">

    <div class="w-full flex justify-center">

        <div class="flex justify-center   w-full md:w-4/5">
            <app-carousel />
        </div>
    </div>


    <!-- @for (item of bannerOffers; track $index) {

    <div class="flex justify-baseline sm:justify-center">
        <div class="w-full items-center sm:items-start flex flex-col md:w-4/5">

            <h2 class="text-2xl ml-0 sm:ml-20 font-bold text-gray-50 capitalize ">
                {{item.title}}
            </h2>

            <div class="w-full overflow-visible">
                <app-typecarousel [productsItem]='item.items' />
            </div>
        </div>
    </div>
    } -->


    <!-- <div class="flex justify-baseline sm:justify-center">
        <div class="w-full items-center sm:items-start flex flex-col md:w-4/5">

            <h2 class="text-2xl ml-0 sm:ml-20 font-bold text-gray-50 capitalize ">
                best seller
            </h2>

            <div class="w-full overflow-visible">
                <app-typecarousel [productsItem]="products" />
            </div>
        </div>
    </div>



    <div class="flex justify-baseline sm:justify-center">
        <div class="w-full items-center sm:items-start flex flex-col md:w-4/5">

            <h2 class="text-2xl ml-0 sm:ml-20 font-bold text-gray-50 capitalize ">
                Popular items
            </h2>

            <div class="w-full overflow-visible">
                <app-typecarousel [productsItem]="products" />
            </div>
        </div>
    </div>




    <div class="flex justify-baseline sm:justify-center">
        <div class="w-full items-center sm:items-start flex flex-col md:w-4/5">
            <h2 class="text-2xl ml-0 sm:ml-20 font-bold text-gray-50 capitalize ">
                Categories
            </h2>

            <div class="w-full overflow-visible">
                <app-typecarousel [productsItem]="products" />
            </div>
        </div>
    </div> -->




    <div class="flex justify-baseline sm:justify-center overflow-hidden">
        <div class="w-full items-center sm:items-start flex flex-col md:w-4/5">
            <!-- Section title -->
            <h2 class="text-2xl font-bold text-gray-50 capitalize mb-4">
                Just for you
            </h2>

            <!-- Product items grid -->
            <div class="w-full grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-3 sm:gap-4 mb-6">
                @for (item of products(); track $index) {
                <div class="" [routerLink]="['/product', item.id, item.name]">
                    <app-producet-item [ProductItem]="item"></app-producet-item>
                </div>
                }

            </div>

            <!-- Paginator - -->
            <div class="w-full  py-4 px-4 bg-gray-700 flex justify-center">
                <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows"
                    [totalRecords]="totalRecords" [rowsPerPageOptions]="[5, 10, 15]" styleClass="!bg-transparent ">
                </p-paginator>
            </div>

        </div>
    </div>


















</div>