<div class="min-h-[90vh] flex items-center justify-center  bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md mt-6 sm:mt-10 w-full border-2 border-[#14b8a6] rounded-xl px-4 py-2 space-y-8">
    <div class="">
      <h2 class=" text-center text-3xl font-extrabold text-[#14b8a6]">
        Register Account
      </h2>
    </div>
    <form class=" space-y-6" [formGroup]="signupForm">
      <div class="rounded-md  shadow-sm space-y-2">

        @for (item of signupFormConfig; track $index) {

        <div id="{{ item.label }}">
          <label for="{{ item.label }}" class="block capitalize text-sm font-medium text-gray-700 mb-1">
            {{ item.label }}
          </label>

          <div class="relative">
            <input [type]="item.type === 'password' ? (passwordVisibility[item.id] ? 'text' : 'password') : item.type" [id]="item.id" [name]="item.id" [formControlName]="item.id" [autocomplete]="item.type" class="appearance-none rounded-md relative block px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" [class.w-11/12]="item.type === 'password'" [class.w-full]="item.type !== 'password'" [class.pr-10]="item.type === 'password'" [placeholder]="item.placeholder" />

            @if (item.type === 'password') {
            <button type="button" (click)="togglePasswordVisibility(item.id); $event.stopPropagation();" class="absolute  inset-y-0 right-0 flex items-center px-3 text-gray-500 hover:cursor-pointer hover:text-indigo-600 focus:outline-none transition-colors duration-150">
              <i [class]="passwordVisibility[item.id] ? 'pi pi-eye-slash' : 'pi pi-eye'" class="text-base"></i>
            </button>
            }
          </div>

          @if(item.validation){
          @if(signupForm.controls[item.id].touched){
          @for (validationKey of getValidationKeys(item.validation); track validationKey) {
          @if(signupForm.controls[item.id].errors?.[validationKey]){
          <p class="mt-1 text-sm text-red-600">
            {{ item.validation[validationKey] }}
          </p>
          }
          }
          }
          }

        </div>
        }

      </div>

      <div>
        <button type="button" (click)="onSaveUser()" [disabled]="signupForm.invalid" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 disabled:bg-gray-400 disabled:cursor-not-allowed transition duration-150 ease-in-out">

          @if(registerState().loading) {
          <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration=".5s" [style]="{ width: '30px', height: '30px' }" />
          }
          @else{
          Register
          }
        </button>
      </div>

    </form>
  </div>
</div>